{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-light">
                    From the Sideline to the Street
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-ls rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>    
        </div>
    </div>

    <!--From here-->

    

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                         <!-- Sale badge-->
                         <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="media/dodgers-jacket.jpg" alt="Los Angeles Dodgers Jacket" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                 <!-- Product name-->
                                <h5 class="fw-bolder">Los Angeles Dodgers Nike Authentic Collection Player Performance Full-Zip Hoodie - Royal<br></h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star"></div>
                                    <div class="bi-star"></div>
                                </div>
                                <!-- Product price-->
                                <del>€99.99</del> <br>€69.99
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://8000-paddyhockey-useiresport-0luhaxh10q5.ws-eu116.gitpod.io/products/36">View Options</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="media/kings-jacket.jpg" alt="Los Angeles Kings Jacket" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Los Angeles Kings Fanatics Authentic Pro Rink Quarter-Zip Jacket - Black<br><br></h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star"></div>
                                    <div class="bi-star"></div>
                                </div>
                                <!-- Product price-->
                                <del>€69.99</del> <br>€39.99
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://8000-paddyhockey-useiresport-0luhaxh10q5.ws-eu116.gitpod.io/products/23">View Options</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="media/chiefs-tshirt.jpg" alt="Kansas City Chiefs T-Shirt" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                  <!-- Product name-->
                                <h5 class="fw-bolder">Travis Kelce Kansas City Chiefs Nike Player Name & Number T-Shirt - Red<br><br></h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-half"></div>
                                </div>
                                <!-- Product price-->
                                <del>€99.99</del> <br>€69.99
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://8000-paddyhockey-useiresport-0luhaxh10q5.ws-eu116.gitpod.io/products/29">View Options</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                         <!-- Sale badge-->
                         <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="media/nets-hoodie.jpeg" alt="Brooklyn Nets Hoodie" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                 <!-- Product name-->
                                <h5 class="fw-bolder">Brooklyn Nets Fanatics Primary Logo Pullover Hoodie - Heather Gray<br><br></h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-half"></div>
                                </div>
                                <!-- Product price-->
                               <del>€74.99</del> <br>€49.99
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://8000-paddyhockey-useiresport-0luhaxh10q5.ws-eu116.gitpod.io/products/38">View Options</a></div>
                        </div>
                    </div>
                </div>           

               <!--To Here-->

            

    <div class="footer">

        <h4 id="foot">Connect With Us</h4>
    
        <a href="https://www.instagram.com/taasscom/" target="_blank" class="fa fa-instagram" aria-label="instagram link"></a>
        <a href="https://www.facebook.com/TAASScom" target="_blank" class="fa fa-facebook" aria-label="facebook link"></a>
        <a href="https://www.twitter.com/TAASScom" target="_blank" class="fa fa-twitter" aria-label="twitter link"></a>
        <a href="https://www.youtube.com/taasscom" target="_blank" class="fa fa-youtube" aria-label="youtube link"></a>
    
        <h5 id="index-h5">2024, USEire Sports Limited</h5>

</div>

                
{% endblock %}