{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-light">
                    From the Sideline to the Street
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-ls rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>    
        </div>
    </div>

    <!--From here-->

       
               <!--To Here-->

            

    <div class="footer">

        <h4 id="foot">Connect With Us</h4>
    
        <a href="https://www.instagram.com/taasscom/" target="_blank" class="fa fa-instagram" aria-label="instagram link"></a>
        <a href="https://www.facebook.com/TAASScom" target="_blank" class="fa fa-facebook" aria-label="facebook link"></a>
        <a href="https://www.twitter.com/TAASScom" target="_blank" class="fa fa-twitter" aria-label="twitter link"></a>
        <a href="https://www.youtube.com/taasscom" target="_blank" class="fa fa-youtube" aria-label="youtube link"></a>
    
        <h5 id="index-h5">2024, USEire Sports Limited</h5>

</div>

                
{% endblock %}