<a href=""><img class="logo" src="media/custom/nfl-logo.jpg" alt="NFL Logo"></a>
<a href=""><img class="logo" src="media/custom/nba-logo.jpg" alt="NBA Logo"></a>
<a href=""><img class="logo" src="media/custom/mlb-logo.jpg" alt="MLB Logo"></a>
<a href=""><img class="logo" src="media/custom/nhl-logo.jpg" alt="NHL Logo"></a>
<a href=""><img class="logo" src="media/custom/ncaa-logo.jpg" alt="NCAA Logo"></a>
<a href=""><img class="logo" src="media/custom/mls-logo.jpg" alt="MLS Logo"></a>



<div class="collapse navbar-collapse hide" id="main-nav"></div>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 hide" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All <span class="hide-span">Products</span>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>

        </li>

        <!--NFL Below Here-->

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 hide" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                NFL
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=nfl-items" class="dropdown-item">AFC</a>
                <a href="{% url 'products' %}?category=nfl-items" class="dropdown-item">NFC</a>
                <a href="{% url 'products' %}?category=nfl-items" class="dropdown-item">Vintage</a>
                <a href="{% url 'products' %}?category=nfl-items" class="dropdown-item">Sale</a>
                <a href="{% url 'products' %}?category=nfl-items" class="dropdown-item">All Items</a>
            </div>
        </li>

         <!--NBA Below Here-->

         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 hide" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                NBA
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=nba-items" class="dropdown-item">Eastern Conference</a>
                <a href="{% url 'products' %}?category=nba-items" class="dropdown-item">Western Conference</a>
                <a href="{% url 'products' %}?category=nba-items" class="dropdown-item">Vintage</a>
                <a href="{% url 'products' %}?category=nba-items" class="dropdown-item">Sale</a>
                <a href="{% url 'products' %}?category=nba-items" class="dropdown-item">All Items</a>
            </div>
        </li>

          <!--MLB Below Here-->

          <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 hide" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                MLB
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=mlb-items" class="dropdown-item">American League</a>
                <a href="{% url 'products' %}?category=mlb-items" class="dropdown-item">National League</a>
                <a href="{% url 'products' %}?category=mlb-items" class="dropdown-item">Vintage</a>
                <a href="{% url 'products' %}?category=mlb-items" class="dropdown-item">Sale</a>
                <a href="{% url 'products' %}?category=mlb-items" class="dropdown-item">All Items</a>
            </div>
        </li>

           <!--NHL Below Here-->

           <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 hide" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                NHL
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=nhl-items" class="dropdown-item">Eastern Conference</a>
                <a href="{% url 'products' %}?category=nhl-items" class="dropdown-item">Western Conference</a>
                <a href="{% url 'products' %}?category=nhl-items" class="dropdown-item">Vintage</a>
                <a href="{% url 'products' %}?category=nhl-items" class="dropdown-item">Sale</a>
                <a href="{% url 'products' %}?category=nhl-items" class="dropdown-item">All Items</a>
            </div>
        </li>

            <!--NCAA Below Here-->

            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5 hide" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    NCAA
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                    <a href="{% url 'products' %}?category=ncaa-items" class="dropdown-item">Football</a>
                    <a href="{% url 'products' %}?category=ncaa-items" class="dropdown-item">Basketball</a>
                    <a href="{% url 'products' %}?category=ncaa-items" class="dropdown-item">Vintage</a>
                    <a href="{% url 'products' %}?category=ncaa-items" class="dropdown-item">Sale</a>
                    <a href="{% url 'products' %}?category=ncaa-items" class="dropdown-item">All Items</a>
                </div>
            </li>

             <!--MLS Below Here-->

             <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5 hide" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    MLS
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                    <a href="{% url 'products' %}?category=mls-items" class="dropdown-item">Eastern Conference</a>
                    <a href="{% url 'products' %}?category=mls-items" class="dropdown-item">Western Conference</a>
                    <a href="{% url 'products' %}?category=mls-items" class="dropdown-item">Vintage</a>
                    <a href="{% url 'products' %}?category=mls-items" class="dropdown-item">Sale</a>
                    <a href="{% url 'products' %}?category=mls-items" class="dropdown-item">All Items</a>
                </div>
            </li>

            
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 hide" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=afc" class="dropdown-item"></a>
                <a href="{% url 'products' %}?category=nfc" class="dropdown-item"></a>
                <a href="{% url 'products' %}?category=vintage" class="dropdown-item"></a>
                <a href="{% url 'products' %}?category=sale" class="dropdown-item"></a>
                <a href="{% url 'products' %}?category=nfc,afc,vintage,sale,all_items" class="dropdown-item"></a>
            </div>
        </li>
 
    </ul>
</div>